{% extends "template.html" %}
{% block content %}
    <h1>{{ title }}</h1>
    <a class="btn btn-primary" href="{{ url_for('employees.new') }}">Add Employee</a>
    <a class="btn btn-danger" href="{{ url_for('home.index') }}">Back</a>
    {% if not employees %}
        <h2>No registered employees</h2>
    {% endif %}
    <table class="table table-striped table-responsive table-bordered">
        <thead class="thead-default">
            <tr>
                <th>Name</th>
                <th>ID</th>
            </tr>
        </thead>
        <tbody>
            {% for employee in employees %}
            <tr>
                <td>{{ employee.name }}</td>
                <td>{{ employee.id }}</td>
                <td>
                    <a class="btn btn-primary" href="{{ url_for('employees.edit', id=employee.id) }}">Edit</a>
                    <a class="btn btn-danger" href="{{ url_for('employees.delete', id=employee.id) }}">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}