{% extends "template.html" %}
{% block content %}
<h1>{{ title }}</h1>
<form class="formObjects" action="{{ url_for('employees.create') }}" method="POST" enctype="multipart/form-data">
    <fieldset>
        {{ form.csrf_token() }}
        <div class="form-group inputBox">
            {{ form.id.label(class='form-label') }}
            {{ form.id(class='form-control') }}
        </div>
        <div class="form-group inputBox">
            {{ form.name.label(class='form-label') }}
            {{ form.name(class='form-control') }}
        </div>
        <div class="form-group inputBox">
            {{ form.war_name.label(class='form-label') }}
            {{ form.war_name(class='form-control') }}
        </div>
        <div class="form-group inputBox">
            {{ form.role.label(class='form-label') }}
            {{ form.role(class='form-control') }}
        </div>
        <div class="form-group inputBox">
            {{ form.identification.label(class='form-label') }}
            {{ form.identification(class='form-control') }}
        </div>
        <div class="form-group inputBox">
            {{ form.admission.label(class='form-label') }}
            {{ form.admission(class='form-control') }}
        </div>
        <div class="form-group">
            {{ form.company.label(class='form-label') }}
            {{ form.company(class='input-block') }}
        </div>
        <div class="form-group buttons">
            {{ form.save(class='btn btn-primary') }}
            <a class="btn btn-danger" href="{{ url_for('employees.index') }}">Back</a>
        </div>
    </fieldset>
</form>
{% endblock %}