{% extends "template.html" %}
{% block content %}
    <h1>{{ title }}</h1>
    <div>
        <a class="btn btn-primary" href="{{ url_for('employees.index') }}">Employees</a>
        <a class="btn btn-primary" href="{{ url_for('companies.index') }}">Companies</a>
    </div>
    <table class="table table-striped table-responsive table-bordered">
        <thead class="thead-default">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Company</th>
            </tr>
        </thead>
        <tbody>
            {% if not employees %}
                <h2>No registered employees</h2>
            {% endif %}
            {% for employee in employees %}
            <tr>
                <td>{{ employee.id }}</td>
                <td>{{ employee.name }}</td>
                <td>{{ employee.company.name }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}