{% extends "template.html" %}
{% block content %}
    <h1>{{ title }}</h1>
    <a class="btn btn-primary" href="{{ url_for('companies.new') }}">Add Company</a>
    <a class="btn btn-danger" href="{{ url_for('home.index') }}">Back</a>
    {% if not companies %}
        <h2>No registered companies</h2>
    {% endif %}
    <table class="table table-striped table-responsive table-bordered">
        <thead class="thead-default">
            <tr>
                <th>Name</th>
                <th>ID</th>
            </tr>
        </thead>
        <tbody>
            {% for company in companies %}
            <tr>
                <td>{{ company.id }}</td>
                <td>{{ company.name }}</td>
                <td>
                    <a class="btn btn-primary" href="{{ url_for('companies.edit', id=company.id) }}">Edit</a>
                    <a class="btn btn-danger" href="{{ url_for('companies.delete', id=company.id) }}">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}